html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f2ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #1c2a39;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 640px;
  padding: 20px;
}

form {
  background-color: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(28, 42, 57, 0.15);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  color: #4b5320;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

label {
  width: 50%;
  font-size: 15px;
  color: #6e7278;
  margin-bottom: 6px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
  text-align: center;
  background-color: #f5f2ec;
  color: #1c2a39;
}

input:focus, select:focus {
  border-color: #d6a400;
  outline: none;
  box-shadow: 0 0 5px rgba(214, 164, 0, 0.4);
}

button {
  width: 100%;
  padding: 14px;
  background-color: #4b5320;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

button:hover {
  background-color: #8a4b2d;
  transform: translateY(-2px);
}

#return-button {
  width: 10%;
  background-color: #4b5320;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
  align-self: flex-end;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#return-button img {
  width: 32px;
  height: 32px;
}

#return-button:hover {
  transform: scale(1.1);
  background-color: #c0392b;
}

#warning {
  border-bottom: 2px #c0392b solid;
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
  color: #c0392b;
  font-weight: bold;
}
